.details {
    background-color: var(--dark-colour);
    flex-grow: 1;
    padding: 0.2rem;
    color: var(--primary-colour);
    height: 4.5rem;
    text-align: left;
}

.title {
    font-size: 0.8rem;
}