.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    box-sizing: border-box;
    background-color: var(--semidark-colour);
    color: var(--primary-colour);
}

.link{
    text-decoration: none;
    color: var(--primary-colour);
}