:root {
  --dark-colour: #292827;
  --semidark-colour: #3b3a39;
  --light-colour: #edebe9;
  --primary-colour: #0078d4;
  --primary-colour-translucent: rgba( 0, 120, 212, 0.2 );
}

html, #root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: var(--dark-colour);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
